[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=myrss-fixed
Exec=/opt/myrss-fixed/bin/myrss-fixed
Icon=myrss-fixed64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
