[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=myrss-fixed
Exec=/usr/bin/single-instance /opt/myrss-fixed/bin/myrss-fixed
Icon=/usr/share/icons/hicolor/80x80/apps/myrss-fixed80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
